/* Empty. Add your own CSS if you like */
#truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#map {
    width: 95%;
    height: 40%;
    background-color: #ecf0f1;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.custom-stable{
    color : white !important; 
    background-color:#3498db!important;
 }

.scroll {
    height: 100%;
}
