/* Empty. Add your own CSS if you like */
#truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#map {
    width: 95%;
    height: 40%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #EEEEEE;
    background-color: #ecf0f1;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.custom-stable{
    color : white !important;
    background-color:#3498db!important;
 }

.scroll {
    height: 100%;
}

.custom {
  background-color: #6C7A89 !important; /* This sets the background color*/
 }

/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:1px solid;   /*Bottom border for each menu item*/
  border-color: #ECECEC;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}

/*Changes the border for the last item*/
.custom .item:last-child {
  /*border-top: none;*/
  border-bottom: 1px solid #ECECEC;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

.custom .item-content.activated{
    border-color: #ECECEC !important;
    background-color: #34495E !important;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
  border-color: #ccc;
  background-color: #D9D9D9;
  height: 100%}

  /* CORE */
  .item-expand {
    position: relative;
    width: 100%;
    max-height: 60px;
    transition: max-height 0.1s ease-out;
    overflow: hidden;
  }

  .item-expand.inactive:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 15px;
    width: 100%;
    display: block;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(255, 255, 255, 0)),
      color-stop(1, rgba(255, 255, 255, 1))
    );
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }

  .item-expand.active {
    max-height: 200px;
    transition: max-height 0.3s ease-out;
  }


  /* DEMO */
  .item-expand-footer {
    color: red;
    margin-top: 10px;
  }

  .item-expand-footer i {
    margin-right: 10px;
  }

/*#Logo {
    display: block;
    padding-top: 7px;
    margin: 1em auto 0;
    width: 75%;
    height: 80%;
}*/
